html,
html { overflow-y: scroll; }
body {

  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.app-container {
  min-height: 350px;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



